*{
    margin: 0;
    padding: 0;
    /* max-width:1600px; */
    list-style: none;
    text-decoration: none;
    box-sizing: border-box;
    /* box-sizing: border-box; */
}
:root{
    --col1:rgb(108, 220, 248);      /* light blue*/
    --col2:rgb(0, 0, 0);           /* black */ 
    --col3:rgb(247, 246, 244);    /*  slight white */
    --col4:rgb(13, 52, 61);       /* slight black */
    --col5:rgb(255, 255, 255);   /* white */
}
/* white */
.navbar{
    background-color: var(--col2);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position:sticky;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height:14vh;
    max-height:15vh;
    width:100%;
}
#logo img{
    max-height:15vh;
    width:15vh;
    overflow:hidden;
}
#logo img:hover{
    transform: scale(1.5);
    overflow: hidden;
}
.navbar .left{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    
}
.navbar .left .navul{
    width:40vw;
}
.navbar .left ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
    margin-left:20vw;
    /* padding-top: 50px; */
}
.navbar .left ul li{
    margin:0px 20px;
}


a{
    text-decoration: none;
    color: var(--col5);
}
.navbar .left ul li a:hover{
    text-transform: uppercase;
    color: var(--col1);
}
.navbar .right{
    margin-top: 6vh;
}
.navbar .right a{
    box-sizing: border-box;
    /* margin:25px 0px; */
    margin-right:10vw;
    
    border:5px solid (--col1);
    background-color:var(--col1);
    padding: 15px;
    border-radius: 70px;
}

.navbar .right > a {
    color:var(--col2);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 400;
    font-size: 1.2em;
}
.navbar .right a:hover{
    color:var(--col5);
    
}
.intro{
    background-color: var(--col2);
    display: flex;
    color: var(--col5);
    height:85vh;
    max-height:85vh;
    width:100%;
    
    /* overflow: hidden; */
}
.intro .right{
    background-color: black;
    border:none;
    height:85vh;
    max-height:85vh;
    /* padding-right:30px; */
    width:50vw;
    margin-left: -20vw;
}
.intro .right img{
    
    height:inherit;
    width: inherit;
    
}
.intro .left{
   display: flex;
   flex-direction: column;
   margin-top: 10vh;
  
   font-family: 'Courier New', Courier, monospace;
   font-size: 1.2rem;
   width:75vw;
}
.intro .left h1 span{
    color:var(--col1);
}
.intro .headcontent{
    z-index: 100;
    font-size: 1em;
}
.intro .left .middlecontent{
padding:5vh;
/* margin: auto; */
text-align: center;
color:var(--col1)
}
.intro .left .maincontent{
    /* align-items: center; */
    justify-content: center;
    /* margin-top:-2000px; */
    background-color: var(--col4);
    display: flex;
    padding: 2vw;
}
.left .resume a{
    display: block;
    width:10vw;
    box-sizing: border-box;
    background-color: var(--col2);
    color: var(--col1);
    margin:auto;
    border:2px solid var(--col1);
    padding: 1vw 0;
    text-align: center;
    
    margin-top: 5vh;
    transition: 7ms ease-in;
}
.left .resume a:hover{
    color:var(--col2);
    background-color: var(--col1);
    
}
.projects{
    background-color: var(--col3);
    margin-top: 10vh;
}
.projects h1{
    padding: 12px;
}

.projects .cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
    /* box-shadow: 10px 10px 8px 10px #888888; */   
    }
.projects h1{
    background-color: var(--col4);
    color:var(--col3);
}
.projects .cards .card{
    margin-top: 18vh;
    height: 40vh;
    max-height:40vh;
    width:25vw;
    /* box-sizing: border-box; */
    /* border: 1px solid var(--col4); */
    background-color:var(--col1);
    position: relative;
    box-shadow: 10px 10px 8px #888888;
    
}

.projects .cards .card .imgdiv{
    width:6vw;
    height:15vh;
    background-color:var(--col2);
    position:absolute;
    top:-12vh;
    left:8vw;
    box-shadow: 10px 10px 8px #888888;
    /* border-radius: 1em; */
    overflow: hidden;
}
.projects .cards .card .imgdiv img{
    width:6vw;
    height:15vh;
    
}
.projects .cards .card .imgdiv img:hover{
    transform: scale(1.2);
   
}
.projects .cards .card .card-content{
    margin-top: 10vh;
    width:inherit;
    text-align: center;
}
.projects .cards .card .card-content p{
    margin-top: 3vh;
    align-self: center;
}

.card .button{
    padding:2vh;
    box-sizing: border-box;
    background-color: var(--col2);
    color: var(--col3);
    position: absolute;
    bottom: 2vw;
    width:23.2vw;
    justify-content: center;
    width:inherit;
    
    margin-bottom: 2vw;
}
/* .card .button a{ */
    /* justify-content: center; */
    /* margin: auto; */
    /* position: absolute; */
    /* bottom: 2vw; */
/* } */
.aboutme{
    display: flex;
    margin: 15vh;
    max-height: 30vw;
    /* justify-content: space-between; */
    /* background-color: var(--col1); */
}
.aboutme .imgdiv{
    /* position: relative; */
    border-radius: 100%;
    border:2vw ridge var(--col1);
    width:20vw;
    height:20vw;
    overflow: hidden;
   
}
.aboutme .imgdiv img{
    width:20vw;
    height:20vw;
}
.aboutme .imgdiv img:hover{
    transform:scale(1.1);
}
.aboutme .content-div{
    box-sizing: border-box;
    width:50vw;
    border: 5px dotted var(--col1);
    border-radius: 5vw;
    box-shadow: 10px 10px 8px #888888;
   
    margin:5vw;
    padding: 3vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.2em;
    text-align: center;
}
.clients{
    display: flex;
    justify-content: space-evenly;
    max-width: 100vw;
    background-color: var(--col1);
    padding: 2vw;
    overflow:scroll;
    
}
.clients .card{
    width:20vw;
    max-height:80vh;
    background-color: var(--col2);
    color: var(--col3);
    padding:2vw 0;
    
}
.clients .card .imgdiv{
    width:10vw;
    height:10vw;
    border-radius: 100%;
    overflow: hidden;
    /* padding: 2vw; */
}
.clients .card .imgdiv img{
    max-width:10vw;
    max-height:10vw;
    

}
.clients .card h3{
    margin-top: 4vh;
}
.clients .card a{
    display: block;
    width:20vw;
    box-sizing: border-box;
    background-color: var(--col3);
    color: var(--col2);
    font-weight: 600;
    margin: 0;
    /* margin:auto; */
    /* border:2px solid red; */
    padding: 1.5vw;
    text-align: center;
    
    margin-top: 5vh;
    
   
}
.clients .card p{
    margin-top: 2vh;
    padding: 2vw;
}
.footer{
    max-height:80vh;
    background-color: var(--col2);
    font: var(--col1);
    display: flex;
    justify-content: center;
}
.footer .form{
    /* margin:5vh; */
    /* display: inline-block; */
    /* margin-top: 10vh; */
    /* padding: 0 30vw; */
    /* justify-content: center; */
   
    /* align-self: center; */
    color:var(--col1);

}
.footer .form form{
    /* justify-content: center;
    justify-self: center; */
    align-self: center;
    align-items: center;
    margin: 5vh;
    width:50vw;
}
.footer .form form label{
    width:50%;
    font-size: 1.1em;
    padding: 5em;
}
.footer .form form input{
    width:50%;
    padding: 1em;
    font-size: 1em;
    border-radius:4em;
}
.footer .form form #button{
    text-align: center;
    margin: 3em;
    justify-content: center;
    padding: 1.2em;
    color: var(--col2);
    background-color: var(--col1);
    border-radius:0px;
}
.end{
    width:100%;
    height:15vh;
    background-color: var(--col4);
    display: flex;

}
.end p{
    font-size: 1.2em;
    color: var(--col3);
    align-items: center;
    justify-content: center;
    margin:auto;

}
@media screen and (max-width:1200px) {
    .navbar .left{
        width:30vw;
        font-size: 2rem;
        max-width: 100vw;
        margin-left: 10vw;
        margin-bottom: 20vh;
        text-align: center;
    }
    /* .navul{ */
        /* display: flex; */
        /* flex-direction: column; */
    /* } */
    .intro{
        height:80vh;
        font-size:2rem;
    }
    .intro .left{
        box-sizing: border-box;
        padding-top:10vh;
        max-height:80vh;
    }
    .intro .right{
        height:80vh;
        /* background-color: antiquewhite; */
    }
    .intro .right img{
        height: inherit;
        /* max-height:100vh; */
    }
    .left .resume a{
        width:30vw;
        font-size:2rem;
    }
    .projects .cards{
        display: flex;
        flex-direction: column;
        max-width:100vw;
        margin-top: 10vh;
        /* justify-content: center; */
        /* max-height:100%; */
    }
    .projects .cards .card{
        max-width:100vw;
        width:500px;
        margin:10vw auto;
        height:50vw;
        /* font-size:larger; */
        font-size:1.2rem;
    }
    .projects .cards .card .imgdiv{
        width:15vw;
        height:15vw;
        left:170px;
        top:-12vw;
    }
    .projects .cards .card .imgdiv img{
        width:15vw;
        height:15vw;
    }
    .aboutme{
       
        flex-direction: column;
        align-items: center;
        margin: 15vw;
        max-height: 50vh;
        /* justify-content: space-between; */
        /* background-color: var(--col1); */
    }
    
    
    .aboutme .content-div{
        margin: auto;
        box-sizing: border-box;
        max-width:80vw;
        font-size: 25px;
        width:70vw;
    }
    
     
}
@media screen and (max-width:800px) 
{
.intro{
    height:50vh;
    font-size:3rem;
    max-height:50vh;
}
.intro .left{
    box-sizing: border-box;
    padding-top:10vh;
    max-height:50vh;
}
.intro .right{
    height:50vh;
    /* background-color: antiquewhite; */
}
.intro .right img{
    height: inherit;
    /* max-height:100vh; */
}
.left .resume a{
    width:30vw;
    font-size:2rem;
}

}