*{
    margin: 0;
    padding: 0;
}
:root{
    --col1:rgb(108, 220, 248);      /* light blue*/
    --col2:rgb(0, 0, 0);           /* black */ 
    --col3:rgb(247, 246, 244);    /*  slight white */
    --col4:rgb(13, 52, 61);       /* slight black */
    --col5:rgb(255, 255, 255);   /* white */
}
/* white */
.navbar{
    background-color: var(--col2);
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    position:sticky;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
#logo img{
    height:100px;
    width:100px;
    overflow:hidden;
}
#logo img:hover{
    transform: scale(1.5);
    overflow: hidden;
}
.navbar .left{
    display: flex;
    justify-content: space-between;
    
}
.navbar .left ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    padding: 10px;
    margin-left:430px;
    padding-top: 50px;
}
.navbar .left ul li{
    margin:0px 20px;
}
a{
    text-decoration: none;
    color: var(--col5);
}
.navbar .left ul li a:hover{
    text-transform: uppercase;
    color: var(--col1);
}
.navbar .right{
    box-sizing: border-box;
    margin:25px 0px;
    margin-right:50px;
    
    border:5px solid (--col1);
    background-color:var(--col1);
    padding: 15px;
    border-radius: 70px;
}

.navbar .right > a {
    color:var(--col2);
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 400;
    font-size: 1.2em;
}
.navbar .right a:hover{
    color:var(--col5);
    
}
.intro{
    background-color: var(--col2);
    display: flex;
    color: var(--col5);
}
.intro .right{
    background-color: black;
    border:none;
    padding-right:30px;
    width:50vw;
}
/* .intro .right img{
    
    margin-top: ;
    
} */
.intro .left{
   display: flex;
   flex-direction: column;
   margin-top: 10vh;
   margin-right:-200px;
   font-family: 'Courier New', Courier, monospace;
   font-size: 1.2rem;
   width:75vw;
}
.intro .left h1 span{
    color:var(--col1);
}
.headcontent{
    z-index: 100;
}
.intro .left .maincontent{
    align-items: center;
    justify-content: center;
    margin-top:-2000px;
    display: flex;
}
/* {
    .projects/* background-color: var(--col2); */

.projects .cards{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    /* box-shadow: 10px 10px 8px 10px #888888; */
   
    
    
    }
.projects .cards .card{
    margin-top: 18vh;
    height:40vh;
    width:25vw;
    /* box-sizing: border-box; */
    /* border: 1px solid var(--col4); */
    background-color:var(--col1);
    position: relative;
    box-shadow: 10px 10px 8px #888888;
    
}

.projects .cards .card .imgdiv{
    width:6vw;
    height:15vh;
    background-color:var(--col2);
    position:absolute;
    top:-12vh;
    left:8vw;
    /* border-radius: 1em; */
    overflow: hidden;
}
.projects .cards .card .imgdiv img{
    width:6vw;
    height:15vh;
    
}
.projects .cards .card .imgdiv img:hover{
    transform: scale(1.2);
   
}
.projects .cards .card .card-content{
    margin-top: 10vh;
}
.projects .cards .card .card-content p{
    margin-top: 3vh;
    align-self: center;
}

.card .button{
    padding:2vh;
    background-color: var(--col2);
    color: var(--col3);
    /* position: absolute;
    bottom: 0;
    width:23.2vw; */
    justify-content: center;
    
    margin-bottom: 2vh;
}
.card .button a{
    justify-content: center;
}
.aboutme{
    display: flex;
    margin: 15vh;
    max-height: 30vw;
    /* justify-content: space-between; */
    /* background-color: var(--col1); */
}
.aboutme .imgdiv{
    position: relative;
    border-radius: 100%;
    border:2vw ridge var(--col1);
    width:20vw;
    height:20vw;
    overflow: hidden;
   
}
.aboutme .imgdiv img{
    position:absolute;
    height:70vh;
    left:-8vw;
}
.aboutme .imgdiv img:hover{
    transform:scale(1.1);
}
.aboutme .content-div{
    box-sizing: border-box;
    width:50vw;
    border: 5px dotted var(--col2);
    border-radius: 5vw;
   
    margin:5vw;
    padding: 3vw;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 1.2em;
}
.clients{
    display: flex;
    justify-content: space-evenly;
    max-width: 100%;
    background-color: var(--col1);
    padding: 2vw;
    
}
.clients .card{
    width:20vw;
    max-height:50vh;
    background-color: var(--col2);
    color: var(--col3);
    padding:2vw;
}
.clients .card .imgdiv{
    width:10vw;
    height:10vw;
    border-radius: 100%;
    overflow: hidden;
}
.clients .card .imgdiv img{
    width:15vw;
    height:15vw;
    

}
.clients .card a{
    display: block;
    width:20vw;
    box-sizing: border-box;
    background-color: var(--col1);
    color: var(--col2);
    padding:1em;
   
    margin-top: 5vh;
    justify-content: center;
    align-content: center;
}
.footer{
    height:80vh;
    background-color: var(--col2);
    font: var(--col1);
}
.footer .form{
    /* margin:5vh; */
    display: inline-block;
    margin-top: 20vh;
    padding: 0 30vw;
    /* justify-content: center; */
    /* align-self: center; */
    color:var(--col1);

}